body{
    font-family: 'Allerta';
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.3px;
}

.form-inline{
    width: 600px;
    background-color: black;
    color:#999999;
    font-size: 12px;
    padding-right: 0px;
    padding-left: 5px;
    margin-left: 0px;
    outline-color: #9acafa !important;
  }

  nav.navbar{
      background-color: black;
      position: relative;
      margin: 0px;
      margin-top: 0px;
      padding-top: 0px;
      font-size: 12px;
      max-height: 5.2%;
  }

  p.text-start{
        text-align: left;
        color: #c1ee4e;
        padding-right: 0px;
        padding-left: 2%;
        height: 0px;
        font-size: 11px;
        letter-spacing: 1px;
        font-family: 'Allerta';
        font-weight: 500;
  }

  p.text-end{
        text-align: left;
        color: #999999;
        padding-right: 20%;
        height: 0px;
        font-size: 11px;
        letter-spacing: 1px;
        font-family: 'Allerta';
        font-weight: 500;
  }

  .nav-item{
      color: #beec4e;
  }

  input.form-control{
      background-color: #141414;
      border: black;
      height: 35px;
      color: white;
      outline-color: #9acafa !important;
      font-family: 'Allerta';
  }

  img.img-fluid{
      height: 100px;
      padding-left: 18%;
      padding-top: 10px;
      margin-bottom: -40px;
      overflow: visible;
      object-fit: cover;
      z-index: 100;
  }

