.form-inline{
    width: 500px;
    text-align: center;
    background-color: black;
    font-size: 14px;
    padding-right: 0px;
  }

  nav.navbar{
      background-color: black;
      position: relative;
      margin: 0px;
      padding: auto;
      font-size: 14px;
  }

  nav span.shipping{
      color: #999999;
      padding-left: 0px;
      font-size: 10px;
  }

  .nav-item{
      color: #beec4e;
  }

