<nav class="navbar navbar-dark" style="background-color: black;">
    <form class="form-inline mx-auto" style="background-color: black;">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <span class="shipping">
        $5 SHIPPING for domestic orders
    </span>
        <ul class="navbar-nav mx-auto list-group-horozontal" style="color: #beec4e;">
          <li class="nav-item dropdown">
        <li class="nav-item">
            <a class="nav-link" href="#">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Training</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Newsletter</a>
          </li>
        </ul>
  </nav>
  