<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="dropdown"  data-hover="dropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
            Holsters
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Inside-The-Waistband</a></li>
            <li><a class="dropdown-item" href="#">Outside-The-Waistband</a></li>
            <li><a class="dropdown-item" href="#">Sidecar</a></li>
            <li><a class="dropdown-item" href="#">Ragnarok</a></li>
            <li><a class="dropdown-item" href="#">Mag Carriers</a></li>
            <li><a class="dropdown-item" href="#">Light-Compatible</a></li>
            <li><a class="dropdown-item" href="#">Accessories</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nylon
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Plate Carriers</a></li>
            <li><a class="dropdown-item" href="#">Chest Rigs</a></li>
            <li><a class="dropdown-item" href="#">Slings</a></li>
            <li><a class="dropdown-item" href="#">Packs</a></li>
            <li><a class="dropdown-item" href="#">Mag Pouches</a></li>
            <li><a class="dropdown-item" href="#">Pouches</a></li>
            <li><a class="dropdown-item" href="#">Belts</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rifle Upgrades
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Lights / Lasers</a></li>
            <li><a class="dropdown-item" href="#">Optics / Sights</a></li>
            <li><a class="dropdown-item" href="#">Mounts</a></li>
            <li><a class="dropdown-item" href="#">Muzzle Devices</a></li>
            <li><a class="dropdown-item" href="#">Charging Handles</a></li>
            <li><a class="dropdown-item" href="#">Grips</a></li>
            <li><a class="dropdown-item" href="#">Triggers</a></li>
            <li><a class="dropdown-item" href="#">Stocks</a></li>
            <li><a class="dropdown-item" href="#">Rifle Magazines</a></li>
            <li><a class="dropdown-item" href="#">Slings</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pistol Upgrades
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Lights</a></li>
            <li><a class="dropdown-item" href="#">Optics</a></li>
            <li><a class="dropdown-item" href="#">Sights</a></li>
            <li><a class="dropdown-item" href="#">Magwells</a></li>
            <li><a class="dropdown-item" href="#">Pistol Magazines</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Training Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Body Armor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Handheld Lights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Medical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Swag</a>
        </li>
      </ul>
    </div>
  </div>
</nav>