<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">PRIVACY POLICY</a></li>
            <li class="list-inline-item"><a href="#">SHIPPING/CANCELLATION POLICY</a></li>
            <li class="list-inline-item"><a href="#">LINE OF DUTY DISCOUNT</a></li>
            <li class="list-inline-item"><a href="#">CONTACT / FAQS</a></li>
        </ul>
        <div class="lIMG">
            <ul class="list-inline-item">
                <li class="list-inline-item"><img src="/assets/logos.png"></li>
            </ul>
        </div>
        <div class="rIMG">
            <ul class="list-inline-item">
                <li class="list-inline-item"><img src="/assets/made-in-usa.png"></li>
                <li class="list-inline-item"><img src="/assets/warranty.png"></li>
            </ul>
        </div>
        <div class="blurb">
            T.REX ARMS specializes in providing conventional and unconventional<br> 
            equipment for preserving human life. The products we manufacture are in <br>
            service with citizens, law enforcement officers, military personnel, and <br>
            members of the special operations community.
        </div>
        <div class="addr">
            758 Industrial Rd<br>
            Centerville, TN 37033
        </div>
        <div class="bottom">
            T.REX ARMS © 2013-2022<br>
            All Rights Reserved<br>
            DUNS 31839159<br>
            CAGE 7XZC1
        </div>
    </footer>
</div>