div.card{
    margin-left: 300px;
    width:158px;
}

p.card-title{
    display: none;
    overflow: visible;
    z-index: 100;
    object-fit: cover;
    margin-left: -16px;
    margin-top: 92px;
}
div.card:hover p.card-title{
    display: block;
    background-color: black;
    width: 156px;
    color: #FFFFFF;
    z-index: 100;
    overflow: visible;
    object-fit: cover;
}

