<div class="search container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="help text-center">Help Center / FAQ</div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
</div>
<div class="buttons container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Shipping and Order Questions</h5>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Warranty Claims and Questions</h5>
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Returns and Exchanges</h5>
                    </button>
                </div>
                <div class=" col-6">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Holster FAQ</h5>
                    </button>
                </div>
                <div class=" col-6">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Body Armor</h5> Frequently asked questions and recommendations
                    </button>
                </div>
                <div class=" col-6">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Gear Recommendations </h5> General gear recommendations from the T.REX team
                    </button>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-success">
                        <h5>Weapon Loadouts</h5> Pictures and descriptions of some of the builds in our armory
                    </button>
                </div>
                <div class="col-12">
                    <div class="request d-flex justify-content-center">Submit a request</div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>