<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <video loop playsinline autoplay class="sidecar">
                <source src="https://static.trex-arms.com/vibe_video/sidecar/2021-08-06_1040x364.mp4" type="video/mp4">
                <span class="newholster">The New <br> Sidecar Holster</span>
            </video>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">

            </div>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-2" *ngFor="let product of products">
                    <tx-smCrd class="products" img={{product.img}} [num]='product.num' name={{product.name}}>
                    </tx-smCrd>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>