<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="myAcct">MY ACCOUNT</p>
        </div>
        <div class="col-9"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <ul class="navbar-nav">
                <li class="nav-item">Dashboard</li>
                <li class="nav-item">Orders</li>
                <li class="nav-item">Addresses</li>
                <li><a class="nav-item" routerLink="AccountDetails" href="#">Account details</a></li>
                <li class="nav-item">Logout</li>
            </ul>
        </div>
        <div class="col-5">
        </div>
    </div>
</div>