<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="classes col-3">
                    <p>CLASSES</p>
                </div>
                <div class="videos col-3">
                    <p>VIDEOS</p>
                </div>
                <div class="resources col-3">
                    <p>RESOURCES</p>
                </div>
                <div class="standards col-3">
                    <p>STANDARDS</p>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>